@font-face {
    font-family: 'Roboto-Light';
    font-weight: normal;
    src: url('fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Exo';
    src: url('fonts/Exo.ttf');
}

.startLogo {
  -fx-background-image: url("img/adrenalina_logo.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center top;
  -fx-background-size: contain;
  -fx-padding: 40 0 0 0;
}

.startBody {
  -fx-background-image: url("img/adrenalina_cover.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center top;
  -fx-background-size: cover;
  -fx-padding: 20 200 100 200;
}

.startContainer {
  -fx-background-color: #ffffff;
  -fx-background-radius: 5;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.38, 0, 5);
  -fx-padding: 30;
  -fx-text-align: center;
}

#gameContainer {
  -fx-background-image: url("img/game_background.png");
  -fx-background-repeat: repeat;
  -fx-background-size: cover;
  -fx-background-position: center top;
}

.text {
  -fx-font-family: "Exo";
  -fx-font-weight: 600;
  -fx-text-fill: #393939;
  -fx-font-size: 18;
}

.title {
  -fx-font-size: 36;
}

.subtitle {
  -fx-font-size: 24;
}

.logLine {
  -fx-font-weight: 600;
  -fx-font-size: 14;
}

.helperText {
  -fx-text-fill: #cfcfcf;
  -fx-font-weight: bold;
  -fx-font-size: 24;
}

.wrong-field {
  -fx-text-box-border: red;
  -fx-focus-color: red;
}

.loadingImg {
  -fx-background-image: url("img/loading.gif");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

.playersList {
  -fx-background-insets: 0;
  -fx-background-color: #ffffff;
  -fx-padding: 0;
}

.list-view .list-cell:even {
  -fx-background-color: #ffffff;
  -fx-text-fill: #393939;
  -fx-font-size: 18;
}

.list-view .list-cell:odd {
  -fx-background-color: #ffffff;
  -fx-text-fill: #393939;
  -fx-font-size: 18;
}

.dialogContainer {
  -fx-background-color: #ffffff;
  -fx-padding: 20 50 20 50;
}

.dialogContent {
  -fx-padding: 50;
}

#mapGrid {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-color: #393939;
  -fx-border-width: 2;
  -fx-border-style: solid inside;
}

.disabledSquare {
  -fx-background-color: #000000;
  -fx-opacity: 0.7;
}

#playerDashboard {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#playerDashboardBorders {
  -fx-border-color: #393939;
  -fx-border-width: 2;
  -fx-border-style: solid;
  -fx-border-insets: 80 0;
}

#playerSkulls {
  -fx-padding: 0 0 0 3;
  -fx-spacing: 13;
}

#playerDamagesContainer {
  -fx-padding: 0 0 0 2;
  -fx-spacing: 9;
}

#playerTagsContainer {
  -fx-padding: 12 0 0 0;
  -fx-spacing: -3;
}

#playerPowerUps {
  -fx-padding: 0 60 0 0;
}

.enemyDashboard {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-border-color: #393939;
  -fx-border-width: 2;
  -fx-border-style: solid inside;
}

.enemyDamage {
  -fx-background-color: red;
  -fx-min-width: 19;
  -fx-min-height: 24;
  -fx-max-width: 19;
  -fx-max-height: 24;
}

.enemySkull {
  -fx-background-color: red;
  -fx-min-width: 18;
  -fx-min-height: 18;
  -fx-max-width: 18;
  -fx-max-height: 18;
}

.enemySkulls {
  -fx-spacing: 9;
}

.enemyPowerUps {
  -fx-padding: 0 60 0 0;
}

.enemyDamagesContainer {
  -fx-spacing: 7;
  -fx-padding: 0 0 0 1;
}

.enemyTagsContainer {
  -fx-spacing: 3;
  -fx-padding: 4 0 0 0;
}

.enemyWeapon {
  -fx-image: url("img/weapon/rotated/weapon_distruttore.png");
}

.ammo {
  -fx-min-height: 24;
  -fx-min-width: 24;
  -fx-max-height: 24;
  -fx-max-width: 24;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center center;
}

.ammo-red {
  -fx-background-image: url("img/ammo-red.png");
}

.ammo-blue {
  -fx-background-image: url("img/ammo-blue.png");
}

.ammo-yellow {
  -fx-background-image: url("img/ammo-yellow.png");
}

.cardInfoModalBackground {
  -fx-background-color: black;
  -fx-opacity: 0.7;
}

#dominationKilltrack {
  -fx-background-image: url("img/domination_killtrack.png");
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 50;
}

.boardSkull {
  -fx-fill: #545454;
  -fx-stroke: #000000;
  -fx-stroke-width: 1;
}

.turnProgressBar {
  -fx-padding: 0;
}

.turnProgressBar > .track {
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-box-border: transparent;
  -fx-background-color: transparent;
}

.turnProgressBar > .bar {
  -fx-padding: 0;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-background-color: #d32a2a;
}